---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$font-family: "Helvetica Neue", Arial, sans-serif;
$font-size:   16px;

$padding:     30px;

$color-text:       #34495e;
$color-text-muted: #7f8c8d;
$color-background: #fdfdfd;
$color-tint:       #e74c3c;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
