<div class="container">
  <nav class="mainNav row">
    <div class="col-sm-3">
      <img src="/img/icon.png" class="logo">
      <span class="logo-text">swift.berlin</span>
    </div>
    <div class="col-sm-6 text-center mainNav-links">
      <a href="#speakers">Speakers</a>
      <a href="#location">Location</a>
      <a href="#contact">Conctact</a>
      <a href="#archive">Archive</a>
    </div>
  </nav>
</div>

<!-- <header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">

      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header> -->
