<div class="container">
  <nav class="mainNav row">
    <div class="col-sm-3">
      <a href="/">
        <img src="/img/logo.svg" class="logo">
      </a>
    </div>
    <div class="col-sm-9 mainNav-links">
      <a href="/">Meetup</a>
      <a href="#contact">Contact</a>
      <a href="/archive">Archive</a>
      <a href="/how-to-become-a-speaker">Become a Speaker</a>
    </div>
  </nav>
</div>

<span class="ribbon">
  <a href="https://github.com/swift-berlin/swift-berlin.github.io" class="ribbon-content">
    Find us on GitHub
  </a>
</span>
