.mainNav {
  padding: $padding 0;

  .logo {
    display: inline-block;
    height: 30px;
    margin: 5px 0 15px;
  }

  .logo-text {
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    letter-spacing: -1px;
    color: $color-text;
  }

  .mainNav-links {
    font-weight: 300;
    text-align: center;

    @media(min-width: 1024px) {
      text-align: right;
    }

    a {
      color: $color-text-muted;
      margin: 0 15px;
      line-height: 50px;
    }
  }
}


.bigHeader {
  img {
    display: inline-block !important;
  }

  .bigHeader-logo {
    width: 150px;
  }
}


.signup {
  background-color: #2c3e50;
  padding: 40px 0;

  input {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: transparent;
    line-height: 59.99999999999999px;
    font-size: 50px;
    color: white;
    font-weight: 500;
    letter-spacing: -1px;
  }

  .btn {
    margin-top: 10px;
    font-size: 17px;
  }
}

.speaker img {
  width: 100%;
}

.speaker-info {
  .links {
    border-top: 1px solid $color-text-muted;

    a {
      display: block;
      margin: 5px 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .speaker:nth-child(3n+1) {
    clear: left;
  }
}
