---
layout: default
---

<div class="container">

  <header class="bigHeader text-center">
   <img src="/img/icon.png" class="bigHeader-logo">
   <h1>{{page.title}}</h1>
   <p class="lead">
    {{ page.date | date: "%A, %b %-d, %Y" }}<br>
    @ <a href="{{page.location.url}}" target="new">{{page.location.name}}</a>
   </p>
   <p class="lead">
     RSVP on <br>
     <a href="http://www.meetup.com/swift-berlin/" target="new">
      <img border="0" alt="Swift Berlin" src="http://img.meetup.com/img/logo_82.png">
    </a>
   </p>
   <p class="lead">
     Chat with us on <br>
     <script async defer src="http://swift-berlin-slackin.herokuapp.com/slackin.js?large"></script>
   </p>
 </header>

 <section id="about" class="row">
   <div class="col-sm-4 col-sm-offset-2">
     <h3>Talks</h3>
     <p>
       We have {{page.speakers.size }} inspiring talks this time, each about 30 minutes.
     </p>
   </div>
   <div class="col-sm-4">
     <h3>Startup Safari</h3>
     <p>
       Let's travel to Berlins most exciting startups, office by office. See what companies do with Swift, iOS and OS X.
     </p>
   </div>
 </section>
</div>

{{ content }}

<div class="container">
  {% if page.speakers == nil or page.speakers.size < 3 %}
    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">
        <h3>Speakers wanted!</h3>
        <p>Hey, do you want to propose a talk? Read here <a href="/how-to-become-a-speaker">how to become a speaker</a>!</p>
      </div>
    </div>
  {% endif %}
  {% if page.speakers.size > 0 %}
    <h2>Speakers</h2>
    <div class="row">
      {% for speaker in page.speakers %}
        <div class="col-sm-4 speaker">
          <img src="/img/speakers/{{speaker.image}}.jpg">
          <div class="speaker-info">
            <h3>{{speaker.name}}</h3>
            <p><strong>{{speaker.title}}</strong></p>
            <p>{{speaker.abstract}}</p>
            <p class="bio">{{speaker.about}}</p>
            <p class="links">
              {% for link in speaker.links %}
                <a href="{{link.url}}" target="new">{{link.name}}</a>
              {% endfor %}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  {% if page.lightnings.size > 0 %}
    <h2>Lightning Talks</h2>
    <div class="row">
      {% for speaker in page.lightnings %}
        <div class="col-sm-4 speaker">
          <img src="/img/speakers/{{speaker.image}}.jpg">
          <div class="speaker-info">
            <h3>
              {{speaker.name}}
              {% if speaker.company %}
                <small>from {{speaker.company}}</small>
              {% endif %}
            </h3>
            <p><strong>{{speaker.title}}</strong></p>
            <p>{{speaker.abstract}}</p>
            <p class="bio">{{speaker.about}}</p>
            <p class="links">
              {% for link in speaker.links %}
                <a href="{{link.url}}" target="new">{{link.name}}</a>
              {% endfor %}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>


<section id="location" class="map">
  <div class="container">
    <h2>Venue</h2>
  </div>
  <iframe width="100%" height="300px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{page.location.map}}&key=AIzaSyCjTjlx3dtYCMkR7xQklFA1w0K36eNduPw"></iframe>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>{{page.location.name}}</h3>
        <p>
          {% for line in page.location.address %}
            {{line}}<br>
          {% endfor %}
          <br>
          <a href="{{page.location.url}}" target="new">{{page.location.url}}</a>
        </p>
      </div>
      <div class="col-sm-4">
        <h3>Drinks and tech</h3>
        <p>{{page.drinks}}</p>
        {% if page.location.logo %}
          <img src="{{page.location.logo}}">
        {% endif %}
      </div>
      {% if page.location.about %}
        <div class="col-sm-4">
          <h3>About the location</h3>
          <p>{{page.location.about}}</p>
        </div>
      {% endif %}
    </div>
  </div>
</section>

<section id="location" class="map">
  <div class="container">
    <h2>Code of Conduct</h2>
    <div class="col-sm-8 col-sm-offset-2">
    <p>All attendees, speakers, sponsors and volunteers at our meetup are required to agree with the following code of conduct. Team members will enforce this code throughout the event. We are expecting cooperation from all participants to help ensuring a safe environment for everybody.</p>

    <p><em>tl;dr: Don’t be a Jerk</em></p>

    <p>Our meetup is dedicated to providing a harassment-free experience for everyone, regardless of gender, age, sexual orientation, disability, physical appearance, body size, race, or religion. We do not tolerate harassment of participants in any form. Sexual language and imagery is not appropriate for any parts of our events, including talks, workshops, Twitter and other online media. Attendees violating these rules may be sanctioned or expelled from this meetup and/or any future meetups at the discretion of the usergroup organisers.</p>

    <h3>Need Help?</h3>

    <p>Please tweet/DM us at <a href="https://twitter.com/swiftberlin">@swiftberlin</a>, or <a href="mailto:hello@nerdgeschoss.de">mail us</a> directly.</p>

    <p>Adapted from <a href="http://up.front.ug">up.front.ug</a> <a href="http://up.front.ug/codeofconduct.html">Code of Conduct</a> based on <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy">The Ada Initiative</a></p>
    </div>
  </div>
</section>

<section id="signup" class="signup">
  <form method="post" action="http://nerdgeschossberlin.us7.list-manage1.com/subscribe/post?u=908a2b4a2459206128cbf70df&id=882566a362" name="mc-embedded-subscribe-form">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <input type="text" name="EMAIL" placeholder="Enter your e-mail" spellcheck="false">
        </div>
        <div class="col-sm-4">
          <button class="btn btn-large btn-danger" type="submit">Subscribe to our newsletter</button>
        </div>
      </div>
    </div>
  </form>
</section>

<secion id="contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h3>nerdgeschoss GmbH</h3>
        <p>
          Falckensteinstr. 48<br>
          D-10997 Berlin<br>
          +49 30 36 42 86 58
        </p>
        <p>
          <a href="http://nerdgeschoss.de/contact/">Impressum</a>
        </p>
      </div>
      <div class="col-sm-4">
        <h3>Help</h3>
        <p>Need help? Don’t hestiate to ask us something. Email us directly at
          <a href="#">hello@nerdgeschoss.de</a>.
          You can checkout our <a href="http://nerdgeschoss.de">website</a> or the <a href="http://www.meetup.com/swift-berlin/events/187497112/">meetup group</a>.
        </p>
      </div>
      <div class="col-sm-3">
        <h3 id="archive">Archive</h3>
        <p>
          {% for post in site.posts %}
            <a href="{{ post.url | prepend: site.baseurl }}">{{post.title}} @ {{post.location.name}}</a><br>
          {% endfor %}
        </p>
      </div>
    </div>
  </div>
</secion>
